.DS_Store
OLD/*
NotVC/*
build/*
libraries/*
*.aux
*.vrb
cache/*
*.fdb_latexmk
*.fls
*.log
*.pdf
*.jpg
*.png
*.blg
*.bbl
vc.tex
*.rda
*.nav
*.snm
*.out
*.toc
*swp
*.bak
.Rhistory
*.Rout
data/*.tex
figures/*.tex
figures/*.txt
paper/introduction.tex
*.pro
ho2005stratachoice-evaluate.tex
ho2005stratachoice-setup.tex
paper/ho2005stratachoice-evaluate.tex
paper/ho2005stratachoice-setup.tex
paper/covariance-adjustment.tex
paper/ho2005stratachoice.tex
paper/newflow.tex
paper/balance.tex
paper/causalmodel.tex
paper/preamble.tex
paper/sensitivity.tex
presentations/presentation.tex
TAGS
code/OBSOLETE/*
